<div class="row">
<div class="columns">&nbsp;</div>
</div>
<div class="row text-center">
    <div class="large-1 columns">&nbsp;</div>
    <div class="large-5 columns">
        <div class="row text-center">
            <div class="large-8 columns"><img src="assets/img/picosn.jpg" alt="Логотип"></div>
        </div>
        <div class="row text-center align-justify">
            <div class="large-1 columns">&nbsp;</div>
            <div class="large-1 columns"><img src="assets/img/left.jpg" alt="На лево"></div>
            <div class="large-1 columns"><img src="assets/img/pic1.jpg" alt="Картинка 1"></div>
            <div class="large-1 columns"><img src="assets/img/pic2.jpg" alt="Картинка 2"></div>
            <div class="large-1 columns"><img src="assets/img/pic3.jpg" alt="Картинка 3"></div>
            <div class="large-1 columns"><img src="assets/img/pic4.jpg" alt="Картинка 4"></div>
            <div class="large-1 columns"><img src="assets/img/pic5.jpg" alt="Картинка 5"></div>
            <div class="large-1 columns"><img src="assets/img/right.jpg" alt="На право"></div>
            <div class="large-1 columns">&nbsp;</div>
        </div>
    </div>
    <div class="large-5 columns">
        <div class="row">
            <div class="large-12 columns">Существуют две основные трактовки понятия «текст»: «имманентная» (расширенная,
                философски нагруженная) и «репрезантативная» (более частая).
                Имманентный подход подразумаевает отношение к тексту как к автономной реальности, нацеленность на
                выявление его внутренней структуры... Репрезентативный - рассмотрение
            </div>
        </div>
        <div class="row">
            <label>Выберите размер
                <select>
                    <option value="husker">46/48 RUS</option>
                    <option value="starbuck">46/48 RUS</option>
                </select>
            </label>
        </div>
        <div class="row">
            <a class="button alert" href="#">В корзину</a>
        </div>
    </div>
    <div class="large-1 columns">&nbsp;</div>
    </div>
