<div class="row">
    <div class="columns">&nbsp;</div>
</div>
<div class="row align-center">
    <div class="large-1 columns">&nbsp;</div>
    <div class="large-5 columns">
        <div class="row align-center">
            <div class="product-image-gallery">
                <img class="pdp-product-image" id="main-product-image" src="assets/img/picosn.jpg" alt="Выбрано">
                <br>
                <ul class="menu product-thumbs align-center">
                    <li><img src="assets/img/left.jpg" alt="На лево"></li>
                    <li><a class="sim-thumb" data-image="assets/img/pic1.jpg"><img src="assets/img/pic1.jpg"
                                                                                   alt="Картинка 1"></a></li>
                    <li><a class="sim-thumb" data-image="assets/img/pic2.jpg"><img src="assets/img/pic2.jpg"
                                                                                   alt="Картинка 2"></a></li>
                    <li><a class="sim-thumb" data-image="assets/img/pic3.jpg"><img src="assets/img/pic3.jpg"
                                                                                   alt="Картинка 3"></a></li>
                    <li><a class="sim-thumb" data-image="assets/img/pic4.jpg"><img src="assets/img/pic4.jpg"
                                                                                   alt="Картинка 4"></a></li>
                    <li><a class="sim-thumb" data-image="assets/img/pic5.jpg"><img src="assets/img/pic5.jpg"
                                                                                   alt="Картинка 5"></a></li>
                    <li><img src="assets/img/right.jpg" alt="На право"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="large-4 columns"></div>
    <div class="large-4 columns">
        <div class="row">
            <div class="large-12 columns">Существуют две основные трактовки понятия «текст»: «имманентная» (расширенная,
                философски нагруженная) и «репрезантативная» (более частая).
                Имманентный подход подразумаевает отношение к тексту как к автономной реальности, нацеленность на
                выявление его внутренней структуры... Репрезентативный - рассмотрение
            </div>
        </div>
        <div class="row">
            <label style="width:120px">Выберите размер
                <select>
                    <option value="husker" >46/48 RUS</option>
                    <option value="starbuck">46/48 RUS</option>
                </select>
            </label>
        </div>
        <div class="row align-center">
            <div class="large-4 columns">
                <a class="button alert" href="#">В корзину</a>
            </div>
        </div>
    </div>
    <div class="large-1 columns">&nbsp;</div>
</div>
<div class="row text-left">
    <div class="large-12 columns">
        Заголовок
    </div>
</div>
<div class="row text-left">
    <div class="large-12 columns">
        Существуют две основные трактовки понятия «текст»: «имманентная» (расширенная,
        философски нагруженная) и «репрезантативная» (более частая).
        Имманентный подход подразумаевает отношение к тексту как к автономной реальности, нацеленность на
        выявление его внутренней структуры... Репрезентативный - рассмотрение
    </div>
</div>
<div class="row text-left">
    <div class="large-12 columns">
        <img src="assets/img/skachat.jpg" alt="Скачать бланк заявок">
    </div>
</div>



