<div class="ecommerce-footer">
    <div class="ecommerce-footer-links row">


                <div class="small-4 medium-4 large-3 columns my">
                    <ul class="menu vertical">
                        <li><img src="assets/img/logfooter.jpg" alt="Логотип"></li>
                        <li> +7 (342) 245 54 55</li>
                        <li><a href="#">Заказать звонок</a></li>
                        <li>&nbsp;</li>
                    </ul>


                </div>

                 <div class="small-4 medium-4 large-3 columns my">
                    <h5>Главная</h5>
                    <ul class="menu vertical">
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Каталог продукции</a></li>
                        <li><a href="#">Статьи</a></li>
                        <li>&nbsp;</li>
                    </ul>
                </div>

            <div class="small-4 medium-4 large-3 columns my">
                <h5>О компании</h5>
                <ul class="menu vertical">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Одежда</a></li>
                    <li><a href="#">Носки</a></li>
                </ul>
            </div>

            <div class="small-4 medium-4 large-3 columns">
                <h5>Одежда</h5>
                <ul class="menu vertical">
                    <li><a href="#">Домашняя одежда</a></li>
                    <li><a href="#">Белье</a></li>
                    <li><a href="#">Термо белье</a></li>
                    <li><a href="#">Футболки</a></li>
                </ul>
            </div>

    </div>
</div>


<

