    <DIV class="menu align-center sticky-shrinknav-menu text-center">
        <li class="small-3 large-centered columns"></li>
        <li><a href="#" class="menuli">ГЛАВНАЯ</a></li>
        <li><a href="#" class="menuli">КАТАЛОГ</a></li>
        <li><a href="#" class="menuli">О КОМПАНИИ</a></li>
        <li><a href="#" class="menuli">СТАТЬИ</a></li>
        <li><a href="#" class="menuli">ОТЗЫВЫ</a></li>
        <li><a href="#" class="menuli">АКЦИИ</a></li>
        <li class="small-3 large-centered columns"></li>
    </DIV>


